/*Base classes*/
.border {
    border:  1px solid red;
}

.f-left{
    float:  left;
}

.r-right {
    float: right;
}
.clear {
    clear: both;
}

/*Header*/
.wrapper {
    width: 1326px;
    margin:  0 auto;
}
.logo {
 width:  160px;
    float: left;
    margin-top:  4px;
    margin-bottom: 50px;
}

nav {
    width: 700px;
    margin-top: 48px;
    float: left;
}

nav li {
    display: inline-block;
    margin-left: 48px;
}

.full-image img {
    width: 100%;
}
.full-image {
    position:  relative;
}

.text-image {
    position: absolute;
    top: 30%;
    left: 35%;
    text-align: center;
    color:  white;
}

.text1 {
    font-size: 22px;
    font-family: "Poppins", sans-serif;
}

.text-image:last-child {
    font-size: 48px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-style: normal;
}

h4 {
    width: 563px;
    font-size: 22px;
    color:  #FF7A00;
    margin:84px 0 81px 42px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

.item {
    width: 636px;
    display: inline-block;
    /*margin-right:  52px;*/
}

.item h4 {
    font-family: "Playfair Display", serif;
    line-height: 46px;
    color: #181C28;
    font-size: 36px;
    font-weight: 700;
    margin: 20px 0 22px 0;
}

.item p {
    width: 636px;
    line-height: 26px;
    font-family: "Poppins", sans-serif;
    color: #7B7B7B;
    font-size: 16px;
}

.item p span{
    display: block;
}

.item a {
    font-family: "Poppins", sans-serif;
    line-height: 41px;
    font-size: 14px;
    color: #ff7a00;
    display: inline-block;
    vertical-align: middle;
    font-weight: 600;
}

.item a::after {
    content: ' ';
    height: 4px;
    width: 41px;
    display: inline-block;
    background-color: #ff7a00;
    margin-left: 18px;
}

/*button*/
.button {
    width: 190px;
    height: 70px;
    border-color: #95989A;
    background-color: #ff7a00;
    position: relative;
    margin-bottom: 134px;
    margin-top: 66px;
}

.button span {
    font-size: 16px;
    line-height: 136px;
    color: #FFFFFF;
    position: absolute;
    top: -42%;
    left: 28%;
}

.full-div {
    background-color: black;
    height: 266px;
    margin-bottom: 82px;
}


/*Footer*/
.footer-item {
    /*width: 130px;*/
    float: left;
    vertical-align: middle;
    margin-right: 150px;
}

.footer-item1 {
    width: 100px;
}

.footer-item2 {
    width: 250px;
}

.footer-h6 {
    margin-bottom: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    font-size: 24px;
    color: black;
    float: left;
}

.footer-item ul li a {
    margin-bottom:  12px;
    font-family: "Poppins", sans-serif;
    color: #7B7B7B;
    font-size: 16px;
    line-height: 36px;
}

.visa {
    float: left;
}

.visa ul li{
    display: inline-block;
    vertical-align:  middle;
    float:  left;
    margin-right:  10px;
}

.visa ul li img {
    width: 50px;
    height: 35px;
}

.r-right {
    float: right;
}

