/*Base classes*/
.border {
    border:  1px solid red;
}

.clear {
    clear: both;
}

.wrapper {
    width: 1326px;
    margin:  0 auto;
}
.logo {
 width:  160px;
    float: left;
    margin-top:  4px;
    margin-bottom: 50px;
}

nav {
    width: 700px;
    margin-top: 48px;
    float: left;
}

nav li {
    display: inline-block;
    margin-left: 48px;
}

.full-image {
    width: 100%;
}


